table{
    border: 2px solid;
 
}
table{
    width: 100%;
    border-collapse: collapse;
}
.E{
    background-color: #555C66;
    
}

.A{
    background-color: #E7516C;
    
}
.S{
    background-color: #70CF69
    
}
.D{
    background-color: #F5F7FA
    
}
.MES{
    background-color: #F5F7FA
    
}
.OK2{
    background-color: #F5F7FA
    
}
.OK{
    background-color: #F5F7FA
    
}
.N{
    background-color: #F5F7FA
    
}
.ES{
    background-color: #F5F7FA
    
}